<a href="https://colab.research.google.com/github/add54/My-GitHub-Project/blob/master/Project_3_Data__Police_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

POLICE DATASET ANALYSIS

In [2]:
import pandas as pd
data = pd.read_csv(r'/content/3. Police Data.csv')
data.head(4)

   stop_date stop_time  ...  stop_duration drugs_related_stop
0   1/2/2005      1:55  ...       0-15 Min              False
1  1/18/2005      8:15  ...       0-15 Min              False
2  1/23/2005     23:15  ...       0-15 Min              False
3  2/20/2005     17:15  ...      16-30 Min              False

[4 rows x 15 columns]

1. Remove the Columns that only contains missing values:

In [ ]:
data.isnull().sum()
data.drop(columns = 'country_name', inplace = True)

In [8]:
#Check again df column country_name has been removed from df
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

2. For Speeding , were Men or Women stopped more often:

In [12]:
data.head(1)
data[data.violation == 'Speeding']

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...      0-15 Min               False
1      1/18/2005      8:15  ...      0-15 Min               False
2      1/23/2005     23:15  ...      0-15 Min               False
4      3/14/2005     10:00  ...      0-15 Min               False
6       4/1/2005     17:30  ...      0-15 Min               False
...          ...       ...  ...           ...                 ...
65527  12/6/2012     15:26  ...      0-15 Min               False
65529  12/6/2012     16:00  ...      0-15 Min               False
65530  12/6/2012     17:54  ...      0-15 Min               False
65531  12/6/2012     22:22  ...      0-15 Min               False
65534  12/7/2012      0:30  ...      0-15 Min               False

[37204 rows x 14 columns]

In [13]:
data[data.violation == 'Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

3. Does gender affect who gets searched during a stop:(Groupby: satatment):

In [18]:
data.head(2)
data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [19]:
data.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

4.What is the mean Stop_duration:

In [21]:
data.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [20]:
data.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [23]:
data['stop_duration'] = data['stop_duration'].map({'0-15 Min': 7.5, '16-30 Min': 24, '30+ Min': 45 })

In [26]:
data

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...           NaN               False
1      1/18/2005      8:15  ...           NaN               False
2      1/23/2005     23:15  ...           NaN               False
3      2/20/2005     17:15  ...           NaN               False
4      3/14/2005     10:00  ...           NaN               False
...          ...       ...  ...           ...                 ...
65530  12/6/2012     17:54  ...           NaN               False
65531  12/6/2012     22:22  ...           NaN               False
65532  12/6/2012     23:20  ...           NaN               False
65533  12/7/2012      0:23  ...           NaN               False
65534  12/7/2012      0:30  ...           NaN               False

[65535 rows x 14 columns]

In [27]:
data['stop_duration'].mean()

nan

5.Compare the Ages distributions for each Violation:

In [28]:
#df.groupby('Column_1).Column2.describe()
data.groupby('violation').driver_age.describe()

                       count       mean        std  ...   50%   75%   max
violation                                           ...
Equipment             6507.0  31.682957  11.380671  ...  28.0  39.0  81.0
Moving violation     11876.0  36.736443  13.258350  ...  35.0  47.0  86.0
Other                 3477.0  40.362381  12.754423  ...  41.0  50.0  86.0
Registration/plates   2240.0  32.656696  11.150780  ...  30.0  40.0  74.0
Seat belt                3.0  30.333333  10.214369  ...  26.0  34.0  42.0
Speeding             37120.0  33.262581  12.615781  ...  30.0  42.0  88.0

[6 rows x 8 columns]